<configuration>

    <property name="CONSOLE_LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %highlight(%-36logger{36}) - %msg%n"/>
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"/>

    <!-- Console Appender: Keep logs visible in the console -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- File Appender: logs visible in the file we give path -->
    <appender name="file" class="ch.qos.logback.core.FileAppender"> <!--where do we want it to be located and how-->
        <file>
            C:/Users/sefa.biliciler/Desktop/Java/agitoo/agitoo/src/main/resources/Logging/LogRecords/application.log
        </file>
        <encoder>
            <pattern>
                ${CONSOLE_LOG_PATTERN}
            </pattern>
        </encoder>
    </appender>
    <appender name="ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>
                ${CONSOLE_LOG_PATTERN}
            </pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>
                C:/Users/sefa.biliciler/Desktop/Java/agitoo/agitoo/src/main/resources/Logging/LogZipped/logs/archive/application-%d{yyyy-MM-dd}-%i.log.zip
            </fileNamePattern>
            <maxFileSize>50MB</maxFileSize>
            <maxHistory>500</maxHistory>
        </rollingPolicy>
    </appender>
    <root>
        <appender-ref ref="file"/>
        <appender-ref ref="ROLLING_FILE"/>
        <appender-ref ref="console"/>
    </root>
</configuration>