<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bulma.css}"/>
    <link href="/static/bulma.css" rel="stylesheet">
    <style>
        body {
            opacity: 0;
            transition: opacity 0.5s ease-in-out;
        }

        body.loaded {
            opacity: 1;
        }

        .login-container {
            max-width: 400px;
            margin: 100px auto;
            padding: 20px;
        }

        .box {
            box-shadow: none; /* Box gölgesini kaldır */
        }
    </style>
</head>
<body>
<div class="login-container">
    <div class="box">
        <h1 class="title is-4 has-text-centered" style="color:#4b0099">Your session has expired</h1>
        <p class="has-text-centered">You will be redirected to the login page</p>
        <p class="has-text-centered"> in <span id="countdown" class="countdown">5</span> seconds... </p>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        let countdownElement = document.getElementById('countdown');
        let countDownValue = 5; // Set countdown time in seconds
        let redirectUrl = '/login'; // URL to redirect to

        function updateCountdown() {
            countdownElement.textContent = countDownValue;
            if (countDownValue <= 0) {
                window.location.href = redirectUrl;
            } else {
                countDownValue--;
                setTimeout(updateCountdown, 1000); // Update every second
            }
        }

        updateCountdown();
    });

    document.addEventListener(
        "DOMContentLoaded", function () {
            document.body.classList.add('loaded');
        });
</script>
</body>
</html>