<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bulma.css}" />
    <link href="/static/bulma.css" rel="stylesheet">
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            let countdownElement = document.getElementById('countdown');
            let countdownValue = 5; // Set countdown time in seconds
            let redirectUrl = '/login'; // URL to redirect to

            function updateCountdown() {
                countdownElement.textContent = countdownValue;
                if (countdownValue <= 0) {
                    window.location.href = redirectUrl;
                } else {
                    countdownValue--;
                    setTimeout(updateCountdown, 1000); // Update every second
                }
            }
            updateCountdown();
        });
    </script>
    <style>
        .login-container {
            max-width: 400px;
            margin: 100px auto;
            padding: 20px;
        }

        .box {
            box-shadow: none; /* Box gölgesini kaldır */
        }
    </style>
</head>
<body>
<div class="login-container">
    <div class="box">
        <h1 class="title is-4 has-text-centered">Your session has expired</h1>
        <p class="has-text-centered">You will be redirected to the login page</p>
        <p class="has-text-centered"> in <span id="countdown" class="countdown">5</span> seconds... </p>
    </div>
</div>
</body>
</html>